html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
@font-face {
  font-family: 'ColaborateThinRegular';
  src: url("fonts/ColabThi-webfont.eot");
  src: url("fonts/ColabThi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ColabThi-webfont.woff") format("woff"), url("fonts/ColabThi-webfont.ttf") format("truetype"), url("fonts/ColabThi-webfont.svg#ColaborateThinRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ColaborateBoldRegular';
  src: url("fonts/ColabBol-webfont.eot");
  src: url("fonts/ColabBol-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ColabBol-webfont.woff") format("woff"), url("fonts/ColabBol-webfont.ttf") format("truetype"), url("fonts/ColabBol-webfont.svg#ColaborateBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Layout */
html, body, #wrap {
  height: 100%; }

body {
  background: #f82d4a;
  color: #fff;
  font: 12px Helvetica, Arial, sans-serif; }

.duchesse, #texture {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

#texture {
  background: url(img/pattern.png) 0 0 repeat; }

#content-wrap,
#main-nav,
.duchesse-infos,
.arrow {
  z-index: 1000; }

#content-wrap {
  padding: 85px 0 60px 610px;
  position: relative;
  width: 575px; }

.content {
  background: #fff;
  color: #6f4747;
  padding: 0 30px 60px;
  position: relative;
  width: 330px; }
  .content footer {
    padding-bottom: 7px;
    position: absolute;
    bottom: 0;
    width: 330px; }

#main-nav {
  padding-top: 53px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
  #main-nav ul {
    background: rgba(117, 0, 17, 0.75);
    overflow: hidden;
    padding: 0 0 0 65px; }
  #main-nav li, #main-nav a {
    float: left; }
  #main-nav li {
    margin-right: 32px; }
  #main-nav a {
    color: #e1b1b1;
    font: bold 11px Helvetica, Arial, sans-serif;
    height: 30px;
    line-height: 34px;
    text-transform: uppercase; }
    #main-nav a:hover {
      color: #fff; }

#logo {
  background: url(img/logo.png) 0 0 no-repeat;
  height: 99px;
  position: fixed;
  top: 50px;
  left: 64px;
  text-indent: -9999em;
  width: 401px; }

#duchesses-nav {
  position: absolute;
  top: 85px;
  right: 0;
  width: 160px; }
  #duchesses-nav h2 {
    border-bottom: 1px solid #fa7286;
    color: #fca9b4;
    font: 24px/22px "ColaborateThinRegular";
    margin-bottom: 13px;
    padding-bottom: 4px;
    text-transform: uppercase; }
  #duchesses-nav a {
    color: #fed6dc;
    display: inline-block;
    font: 16px 'ColaborateThinRegular';
    padding: 9px 0;
    text-transform: uppercase; }
    #duchesses-nav a:hover {
      color: #f59fab; }

/* Content */
p {
  margin-bottom: 18px; }

a {
  color: #6f4747;
  font-weight: bold;
  text-decoration: none; }

.entry-header {
  background: #f8f4f4;
  margin: 0 -30px 22px;
  padding: 50px 30px 30px;
  position: relative; }
  .entry-header h1 {
    color: #b69a9a;
    font: 21px 'ColaborateThinRegular';
    text-transform: uppercase; }

.entry-date {
  color: #cec6c6;
  font: 11px 'ColaborateBoldRegular';
  position: absolute;
  bottom: 8px;
  right: 30px;
  text-transform: uppercase; }

.entry-content h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px; }
.entry-content h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 12px; }
.entry-content h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px; }

.comment-link {
  background: url(img/comment.png) 0 0 no-repeat;
  color: #fff;
  float: right;
  font-size: 14px;
  height: 24px;
  padding-top: 3px;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.55);
  width: 34px; }

.article-nav {
  color: #e0c6c6;
  display: block;
  font: normal 11px/28px "ColaborateBoldRegular";
  height: 28px;
  position: absolute;
  bottom: -28px;
  left: -30px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase; }
  .article-nav.prev {
    left: auto;
    right: -30px; }

/* Duchesses gallery */
.duchesse-infos {
  font: 17px 'ColaborateThinRegular';
  position: fixed;
  left: 300px;
  top: 600px;
  text-transform: uppercase; }
  .duchesse-infos h1 {
    font: 21px 'ColaborateBoldRegular'; }

#felix-dumas .duchesse {
  background: url(img/duchesses/felix_dumas.jpg) 0 0 no-repeat; }

#catherine-genest .duchesse {
  background: url(img/duchesses/catherine_genest.jpg) 0 0 no-repeat; }
#catherine-genest .duchesse-infos {
  left: 360px;
  top: 575px; }

.arrow {
  background: rgba(117, 0, 17, 0.75) url(img/arrows.png) 8px center no-repeat;
  display: block;
  height: 100px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  left: 0;
  text-indent: -9999em;
  width: 40px; }
  .arrow.next {
    background-position: -48px center;
    left: auto;
    right: 0; }
  .arrow:hover {
    background-color: rgba(117, 0, 17, 0.85); }
